<div id="login-root">
    <div>
        <label>用户名</label>
        <input type="text" name="userId" id="userId" />
    </div>
    <div>
        <label>房间号</label>
        <input type="text" name="roomId" id="roomId" />
    </div>
    <button id="login-btn" type="button">
        进入房间
    </button>
</div>
<div id="room-root">
    <div id="video-grid">
        <!-- 主视频 -->
        <div id="main-video" class="video-box col-div" >
     
        </div>
        <!-- 小视频 -->
    </div>
</div>